<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <h6>Жауап мазмұны:</h6>
        <hr>
        <vue-editor v-model="answer.content" :config="config"/>
      </div>
      <div class="col-sm-12 mg-t-15" style="padding-left:0px; padding-right:0px;">
        <label class="ckbox">
          <input type="checkbox" v-model="answer.isAnswer">
          <span style="font-size:17px;">Дұрыс жауап</span>
        </label>
      </div>
    </div>

    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12" style="padding-left:0px; padding-right:0px; float: right;">
            <button class="btn btn-info width-150" @click="addAnswer">Қосу</button>
            <button class="btn btn-transparent width-150" @click="$emit('close')">Жабу</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';
import { isError } from 'util';

export default {
  props:[
    'bank'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      content: '',
      config: {
        language:'ru',
        height: 300,
        extraPlugins: []
      },

      answer:{
        id: '',
        content : "",
        isAnswer: false
      },


      isError : false
    }
  },
  methods: {
    preview: function(){
      $('#cccc').html(this.content);
    },
    addAnswer: function(){
      if(this.answer.content == ''){
        this.isError = true, this.$swal("Error!", "There cannot be empty answer", "error", { button: "Aww yiss!"});
      }

      if(this.isError == false)
        this.bank.push(this.answer)
        this.$swal("Success!", "There cannot be empty answer", "success", { button: "Aww yiss!"});
        this.$emit('close')
    },
    makeid : function () {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 5; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }
  },
  created() {    
    this.answer.id = this.makeid()
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .width-150{
    width: 150px;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
</style>
