<template>
  <div class="br-contentpanel">
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
      <h4 class="tx-gray-800 mg-b-5">FAQs</h4>
    </div>

    <div
      class="d-flex align-items-center justify-content-start pd-x-20 pd-sm-x-30 pd-t-25 mg-b-20 mg-sm-b-30"
    >
      <button id="showSubLeft" class="btn btn-secondary mg-r-10 hidden-lg-up">
        <i class="fa fa-navicon"></i>
      </button>

      <div class="dropdown hidden-sm-up">
        <a href="#" class="btn btn-outline-secondary" data-toggle="dropdown">
          <i class="icon ion-more"></i>
        </a>
      </div>
    </div>
    <div class="card card-body" style="margin:30px 30px">
        
  <div class="card-body" style="padding:10px 10px">
    <h5 class="card-title">{{object.title}}</h5>
    
    <p class="card-text">{{object.description}}</p>
    <textarea class="form-control" rows="3" placeholder="Коментарий қосу"></textarea>
     <div class="mg-l-auto hidden-xs-down text-right" style="margin-top:10px">
        <a href="javascript:void(0)" @click="show" class="btn btn-info">Коментарий қосу</a>
      </div>
    
  </div>
</div><!-- card -->

    <footer class="br-footer">
      <div class="footer-left">
        <div class="mg-b-2">Copyright &copy; 2017. Bracket. All Rights Reserved.</div>
        <div>Attentively and carefully made by ThemePixels.</div>
      </div>
      <div class="footer-right d-flex align-items-center">
        <span class="tx-uppercase mg-r-10">Share:</span>
        <a
          target="_blank"
          class="pd-x-5"
          href="https://www.facebook.com/sharer/sharer.php?u=http://themepixe.."
        >
          <i class="fa fa-facebook tx-20"></i>
        </a>
        <a
          target="_blank"
          class="pd-x-5"
          href="https://twitter.com/home?status=Bracket, your best choice for.."
        >
          <i class="fa fa-twitter tx-20"></i>
        </a>
      </div>
    </footer>
  </div>
</template>
<script>
import { commentBus } from "../../../../../main.js";
import router from "../../../../../router/index.js";
export default {
  name: "CommentFaq",
  data() {
    return {
      object: 0
    };
  },
  created() {
    this.object = this.$route.params.object;
    $(document).ready(function() {
      $(".br-contentpanel").css("margin-left", "300px");
    });
  }
};
$(document).ready(function() {
  $("#btnLeftMenu").on("click", function() {
    $(".br-contentpanel").css("margin-left", "300px");
  });
});
</script>
<style>
</style>