<template>

<div class="row" style="padding:15px 35px;" >

<div class="col-sm-12">
    <label for="labeltitle">Title</label>
    <input type="text" v-model="forum.title" class="form-control" id="title"  placeholder="Enter title">

  </div>
    <div class="col-sm-12 mg-t-15" >
       <label for="labeldesctiption">Description</label>
    <textarea class="form-control" v-model="forum.description" placeholder="Enter description" id="description" rows="3"></textarea>
  </div>
      <div class="col-sm-12 mg-t-15">
      <label>Multiselect with search</label>
    </div>
  <div class="col-sm-12 text-right mg-t-15">
            
            <button class="btn btn-info width-150" @click="submit">submit</button>
  </div> 
</div>
</template>
<script>
import {forumBus} from '../../../../../main.js';

export default{
    data(){
        return {
            forum:{
                title:'',
                description:'',
                tags:[]
        }
        }
    },
    components:{
    },
   
}
</script>