<template>
  <div>
    <div class="br-pagebody pd-x-20 pd-sm-x-30" v-for="(n,index) in filteredForum">
      <div class="card bd-0 shadow-base" style="margin-top:10px">
        <h6 class="mg-b-2 tx-inverse tx-20" style="margin:20px 20px 0px 20px">{{n.title}}</h6>
        <div class="media pd-20">
          <img src="http://via.placeholder.com/280x280" alt class="wd-40 rounded-circle">
          <div class="media-body mg-l-20">
            <div class="d-flex justify-content-between mg-b-10">
              <div>
                <h6 class="mg-b-2 tx-inverse tx-14">Kongratbayedv Kurmangazy</h6>
                <span class="tx-12 tx-gray-500">mc@gmail.com</span>
              </div>
              <span class="tx-12">3 hours ago</span>
            </div>
            <p class="mg-b-20">{{n.description}}</p>
            <div class="media-footer">
              <div>
                
                  <a href>
                    <i class="fa fa-plus-square"></i>
                  </a>
                <router-link :to="{name:'comment' ,params: { object: n }}">
                <a href="javascript:void(0)" class="mg-l-10" @click="showComment(n)">
                  <i class="fa fa-comment"></i>
                </a>
                
                </router-link>
                <a href class="mg-l-10">
                  <i class="fa fa-ellipsis-h"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { forumBus } from "../../../../../main.js";
import { commentBus } from "../../../../../main.js";
export default {
  name:'ListFaq',
  data() {
    return {
      forum: [],
      filteredForum: [],
      msg:'ksdfl'
    };
  },
  props: ["tag"],
  created() {
    forumBus.$on("forumCreated", data => {
      this.forum.push(data);
      console.log("forum", this.forum);
      this.filteredForum = this.forum;
      return this.filteredForum;
    });
  },
  watch: {
    tag: function(val) {
      console.log(this.tag);
      this.filteredForum = [];
      for (var i = 0; i < this.forum.length; i++) {
        for (var j = 0; j < this.forum[i].tags.length; j++) {
          if (this.tag == this.forum[i].tags[j].id) {
            this.filteredForum.push(this.forum[i]);
          }
        }
      }
      console.log("filtered", this.tag, "  ", this.filteredForum);
    }
  },
  methods: {
    
    showComment(n) {
      commentBus.$emit("commenting", n);
    }
    
  }
};
</script>
