<template>
  <div class="br-contentpanel">
    <div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
      <h4 class="tx-gray-800 mg-b-5">FAQs</h4>
      <p class="mg-b-0">Бұл жерде администрацияға сұрақ қойуыңызға болады</p>
    </div>

    <div
      class="d-flex align-items-center justify-content-start pd-x-20 pd-sm-x-30 pd-t-25 mg-b-20 mg-sm-b-30"
    >
      <button id="showSubLeft" class="btn btn-secondary mg-r-10 hidden-lg-up">
        <i class="fa fa-navicon"></i>
      </button>

      <div class="dropdown hidden-sm-up">
        <a href="#" class="btn btn-outline-secondary" data-toggle="dropdown">
          <i class="icon ion-more"></i>
        </a>
        <div class="dropdown-menu pd-10">
          <nav class="nav nav-style-1 flex-column">
            <a href class="nav-link">Share</a>
            <a href class="nav-link">Download</a>
            <div class="dropdown-divider"></div>
            <a href class="nav-link">Edit</a>
            <a href class="nav-link">Delete</a>
          </nav>
        </div>
      </div>

      <div class="mg-l-auto hidden-xs-down">
        <a href="javascript:void(0)" @click="show" class="btn btn-info">Сұрақ қою</a>
      </div>
    </div>
    <listFaq :tag="tag"></listFaq>

    <footer class="br-footer">
      <div class="footer-left">
        <div class="mg-b-2">Copyright &copy; 2017. Bracket. All Rights Reserved.</div>
        <div>Attentively and carefully made by ThemePixels.</div>
      </div>
      <div class="footer-right d-flex align-items-center">
        <span class="tx-uppercase mg-r-10">Share:</span>
        <a
          target="_blank"
          class="pd-x-5"
          href="https://www.facebook.com/sharer/sharer.php?u=http://themepixe.."
        >
          <i class="fa fa-facebook tx-20"></i>
        </a>
        <a
          target="_blank"
          class="pd-x-5"
          href="https://twitter.com/home?status=Bracket, your best choice for.."
        >
          <i class="fa fa-twitter tx-20"></i>
        </a>
      </div>
    </footer>
  </div>
</template>
<script>
import createFaq from "../FAQ/createFaq";
import listFaq from "./listFaq";
import {tagBus} from "../../../../../main.js"
export default {
    name:'MainFaq',
    data() {
    return {
      tag:"",
      
    };
  },
    components: {
        "listFaq":listFaq
    },
  methods: {
    show() {
      this.$modal.show(
        createFaq,
        {},
        {
          height: 500,
          scrollable: true,
          clickToClose: true,
          pivotY: 0.2,
          width: 1000
        },
        {
          "before-close": event => {}
        }
      );
    }
  },
  created(){
      tagBus.$on("tag",(data)=>{
          this.tag=data;
      });
  }
};
</script>
