<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="color-black">Нұсқаулық</h4>
            <p id="content">{{ this.instructions.steps.stepOne.init }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12 mg-t-10" @mouseover="instructionsContent('class')">
            <label class="color-black">Тіл: </label>
            <tree-select v-model="stepDatas.langauage"  :multiple="false" placeholder="Тілді тандаңыз" :options="language" />
          </div>
          <div class="col-sm-12 mg-t-10" @mouseover="instructionsContent('class')">
            <label class="color-black">Сынып: </label>
            <tree-select v-model="stepDatas.classes"  :multiple="true" placeholder="Сынып тандаңыз" :options="subjects" />
          </div>
          <div class="col-sm-12 mg-t-10" @mouseover="instructionsContent('subject')">
            <label class="color-black">Пән(дер): </label>
            <tree-select v-model="stepDatas.subjects" :multiple="false" placeholder="Пән(дерді) тандаңыз" :options="subjects" />
          </div>
          <div class="col-sm-12 mg-t-10" @mouseover="instructionsContent('topic')">
            <label class="color-black">Тақырып(тар): </label>
            <tree-select v-model="stepDatas.topics"  :multiple="true" placeholder="Тақырып(тарды) тандаңыз" :options="subjects" />
          </div>
          <div class="col-sm-12 mg-t-10" @mouseover="instructionsContent('exam')">
            <label class="color-black">Емтихан(дар): </label>
            <tree-select v-model="stepDatas.exams"  :multiple="true" placeholder="Емтихан(дарды) тандаңыз" :options="subjects" />
          </div>
          <div class="col-sm-12 mg-t-10" @mouseover="instructionsContent('level')">
            <label class="color-black">Сұрақ деңгейі: </label>
            <tree-select v-model="stepDatas.level"  :multiple="false" placeholder="Сұрақ деңгейін тандаңыз" :options="level" />
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-30">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-transparent width-150" @click="backStep">Артқа</button>
            <button class="btn btn-info width-150" @click="$emit('next')">Келесі</button>
          </div>  
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.min.css'


//config
import instructionsInit from './../../../../../config/instructions/editor/addQuestion.json'

export default {
  props:[
    'stepDatas'
  ],
  components: { 
    'tree-select': Treeselect 
  },
  data () {
    return {
      instructions: {},

      subjects: [
        {
          id: 'kazakhtili',
          label: 'Математика'
        },
        {
          id: 'kazakhcscstili',
          label: 'Қазақ тілі'
        },
        {
          id: 'kazakhtilsi',
          label: 'Етістік',
          children:[
            {
              id: 'kazakhdvdvtili',
              label: 'Зат есім'
            },
            {
              id: 'kazakcdhdvdvtili',
              label: 'Зdsат есім'
            },
          ]
        }
      ],

      level: [
        {
          id: 'levelA',
          label: 'A'
        },
        {
          id: 'levelB',
          label: 'B'
        },
        {
          id: 'levelC',
          label: 'C'
        },
        {
          id: 'levelD',
          label: 'D'
        },
      ],
      language: [
        {
          id:'kazakh',
          label: 'Қазақ тілі'
        },
        {
          id:'russian',
          label: 'Орыс тілі'
        },
        {
          id:'english',
          label: 'Ағылшын тілі'
        }
      ]
    }
  },
  methods: {
    setup:function(){
      
    },
    instructionsContent: function(temp){
      $('#content').html(this.instructions.steps.stepOne[temp]);
    },
    backStep: function(){
      this.$emit('back')
    }
  },
  created() {
    this.instructions = instructionsInit
  }
}
</script>

<style scoped>
  .width-150{
    width: 150px;
    font-size: 16px;
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
  .btn{
    cursor: pointer;
  }
</style>
