<template>
  <div>
    <left-menu></left-menu>
    <top-menu></top-menu>
    <right-menu></right-menu>
    <div class="br-mainpanel">
      <div class="pd-30">
        <h4 class="tx-gray-800 mg-b-5">Календарь</h4>
      </div>

      <div class="br-pagebody mg-t-5 pd-x-30">
        <div class="demo-container">
          <dx-scheduler
            :data-source="dataSource"
            :current-date="currentDate"
            :views="views"
            :height="900"
            :start-day-hour="9"
            :end-day-hour="19"
            :remote-filtering="true"
            current-view="week"
          >
            <dx-resource
              :allow-multiple="true"
              :data-source="resourcesData"
              :use-color-as-default="true"
              field-expr="ownerId"
              label="Участники"
            />
          </dx-scheduler>
        </div>
      </div>

      <footer class="br-footer">
        <div class="footer-left">
          <div class="mg-b-2">EDU Con.kz &copy; 2019.</div>
          <div>The slogan.</div>
        </div>
      </footer>
    </div>
  </div>
</template>
<script>
import LeftMenu from "./../../components/Editor/PageComponents/Menus/Left.vue";
import TopMenu from "./../../components/Editor/PageComponents/Menus/Top.vue";
import RightMenu from "./../../components/Editor/PageComponents/Menus/Right.vue";
import { DxScheduler, DxResource } from "devextreme-vue/scheduler";
import * as AspNetData from "devextreme-aspnet-data-nojquery";
import "../../assets/js/shim.min.js";
import ruMessages from "devextreme/localization/messages/ru.json";
import { locale, loadMessages, formatMessage } from "devextreme/localization";
import "devextreme-intl";
const url = "https://js.devexpress.com/Demos/Mvc/api/SchedulerData";
import { data, priorityData, resourcesData } from "./data.js";
export default {
  components: {
    "top-menu": TopMenu,
    "left-menu": LeftMenu,
    "right-menu": RightMenu,
    DxScheduler,
    DxResource
  },

  data() {
    return {
      views: ["day", "week", "month"],
      currentDate: new Date(),
      dataSource: [],
      resourcesData: resourcesData
    };
  },

  watch: {
    dataSource(val) {
      console.log("watch");
      localStorage.setItem("calendar", JSON.stringify(this.dataSource));
    }
  },
  created() {
    sessionStorage.setItem("locale", "ru");
    this.initMessages();
    locale('ru');
    if (JSON.parse(localStorage.getItem("calendar"))) {
      var t = localStorage.getItem("calendar");
      this.dataSource = JSON.parse(t);
      for (var i = 0; i < this.dataSource.length; i++) {
        this.dataSource[i].startDate = new Date(this.dataSource[i].startDate);
        var syear = this.dataSource[i].startDate.getFullYear();
        var smonth = this.dataSource[i].startDate.getMonth();
        var sday = this.dataSource[i].startDate.getDay() + 17;
        var shour = this.dataSource[i].startDate.getHours();
        var sminute = this.dataSource[i].startDate.getMinutes();
        this.dataSource[i].startDate = new Date(syear,smonth,sday,shour,sminute);
        this.dataSource[i].endDate = new Date(this.dataSource[i].endDate);
        var eyear = this.dataSource[i].endDate.getFullYear();
        var emonth = this.dataSource[i].endDate.getMonth();
        var eday = this.dataSource[i].endDate.getDay() + 17;
        var ehour = this.dataSource[i].endDate.getHours();
        var eminute = this.dataSource[i].endDate.getMinutes();
        this.dataSource[i].endDate = new Date(eyear,emonth,eday,ehour,eminute);
      }
    } else {
      this.dataSource = [];
    }

    console.log("created");

  },
  methods: {
    initMessages() {
      loadMessages(ruMessages);
    }
  }
};
</script>
<style scoped>
@import "./../../assets/css/dx.common.css";
@import "./../../assets/css/dx.light.css";
</style>