<template>
  <div>
<div>
  <label class="typo__label">Tagging</label>
  <multiselect v-model="value" tag-placeholder="Add this as new tag" 
  placeholder="Search or add a tag" label="name" track-by="code" 
  :options="options" :multiple="true" :taggable="true"></multiselect>
  <pre class="language-json"><code>{{ value  }}</code></pre>
</div>
            <button @click="xa">xa</button>
</div>
</template> 
<script>
import Multiselect from 'vue-multiselect'
import LeftMenu from "./../../components/Editor/PageComponents/Menus/Left.vue";
import TopMenu from "./../../components/Editor/PageComponents/Menus/Top.vue";
import RightMenu from "./../../components/Editor/PageComponents/Menus/Right.vue";
import { forumBus } from "../../main.js";
import { tagBus } from "../../main.js";
export default {
  data() {
    return {
      value: [
        { name: 'Javascript', code: 'js' }
      ],
      options: [
        { name: 'Vue.js', code: 'vu' },
        { name: 'Javascript', code: 'js' },
        { name: 'Open Source', code: 'os' }
      ],
      section:[]
    };
  },
  components: {
    Multiselect,
    "top-menu": TopMenu,
    "left-menu": LeftMenu,
    "right-menu": RightMenu,
  }     ,
  methods: {
    
        handleSelect(options) {
                this.section=options;
                
            },
    xa(){
      console.log(this.section)
      console.log(this.options)
    }
  },

  created() {
    $(document).ready(function() {
      $(".br-contentpanel").css("margin-left", "300px");
    });
  }
};
$(document).ready(function() {
  $("#btnLeftMenu").on("click", function() {
    $(".br-contentpanel").css("margin-left", "300px");
  });
});
</script> 
<style>
</style>