<template>
  <div id="editor">
    <left-menu></left-menu>
	<top-menu></top-menu>
	<right-menu></right-menu>
  
  </div>
</template>

<script>
import LeftMenu from './../../components/Editor/PageComponents/Menus/Left.vue'
import TopMenu from './../../components/Editor/PageComponents/Menus/Top.vue'
import RightMenu from './../../components/Editor/PageComponents/Menus/Right.vue'

export default {
  components:{
	'left-menu': LeftMenu,
	'top-menu': TopMenu,
	'right-menu': RightMenu
  },
  data () {
    return {
      
    }
  },
  methods: {
    setup : function(){
      
    }
  },
  created() {
    this.setup()
  },
  mounted() {
    
  }
}
</script>

<style scoped>
	@import './../../assets/css/app.css';
</style>
