<template>
  <div class="editor">
    
      <router-view></router-view>
   
  </div>
</template>

<script>
  import './../../assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js'
  import './../../assets/lib/jquery-ui/jquery-ui.js'
  import './../../assets/lib/jquery-switchbutton/jquery.switchButton.js'
  import './../../assets/lib/peity/jquery.peity.js'
  import './../../assets/lib/select2/js/select2.min.js'
  
  import './../../assets/js/bracket.js'
  import './../../assets/js/jquery-ui.min.js'
  import './../../assets/js/jquery.min.js'
  export default {

  }
</script>

<style>
  @import './../../assets/lib/select2/css/select2.min.css';
  @import '../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css';

  @import './../../assets/lib/font-awesome/css/font-awesome.css';
  @import './../../assets/lib/Ionicons/css/ionicons.css';
  @import './../../assets/lib/perfect-scrollbar/css/perfect-scrollbar.css';
  @import './../../assets/lib/jquery-switchbutton/jquery.switchButton.css';
  @import './../../assets/lib/rickshaw/rickshaw.min.css';
  @import './../../assets/lib/chartist/chartist.css';
  @import './../../assets/css/dx.common.css';
  @import './../../assets/css/dx.light.css';
  @import './../../assets/css/app.css';
</style>
