<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <div v-html="question"></div>
      </div>
    </div>
    <div class="row mg-t-30">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-info width-150" @click="test">Check fill</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return { variant: "", question: "", answers: [], trueAnswer: "" ,arr:[]};
  },
  created() {
    this.variant = localStorage.getItem("qtype");
    this.question = localStorage.getItem("question");
    this.answers = JSON.parse(localStorage.getItem("answers"));
    for(var i=0;i<this.answers.length;i++){
        this.arr.push(this.answers[i].name)
    }
  },
  methods: {
    test() {
      console.log("yedige",this.arr);
      for(var i=0;i<this.arr.length;i++){
          const x=this.arr[i];
          
          if(this.arr[i]==document.querySelector("input[name="+x+"]").value){

          }
          else{

          }
      
      }
    }
  }
};
</script>
<style>
</style>