<template>
<div>
    <!---<one-variant-test :variant="variant" :question="question" :answers="answers"></one-variant-test>-->
    <one-variant-test v-if="variant=='onevariant'"  @back="back" @final="final"></one-variant-test>
    <many-variant-test v-if="variant=='manyvariant'"></many-variant-test>
    <true-false-variant-test v-if="variant=='truefalse'"></true-false-variant-test>
    <fill-blank-variant-test v-if="variant=='fillblank'"></fill-blank-variant-test>
    <matching-variant-test v-if="variant=='matching'"></matching-variant-test>
</div>
</template>
<script>
import OneVariantTest from './../test/OneVariantTest'
import ManyVariantTest from './../test/ManyVariantTest'
import TrueFalseVariantTest from './../test/TrueFalseVariantTest'
import FillBlankVariantTest from './../test/FillBlankVariantTest'
import MatchingVariantTest from './../test/MatchingVariantTest'
export default{
    //props:['variant','question','answers'],
    data(){
        return{
            variant:'',
        }

    },
    components:{
        'one-variant-test':OneVariantTest,
        'many-variant-test':ManyVariantTest,
        'true-false-variant-test':TrueFalseVariantTest,
        'fill-blank-variant-test':FillBlankVariantTest,
        'matching-variant-test':MatchingVariantTest
    },
    created(){
        this.variant=localStorage.getItem("qtype");
    },
    methods:{
        test(){
            console.log(this.variant);
        },
        back(){
            this.$emit('back');
        },
        final(){
            this.$emit('final')
        }
    },
}
</script>
<style>
</style>